{{> molecules-header }}
<main>
    {{> organisms-hero }}
    {{> organisms-benefits }}
    {{> organisms-benefits-and-kunden-suchen }}
    {{> organisms-contact-us }}
    {{> organisms-shore-douglas-partnership }}
</main>
{{> organisms-site-footer }}