<div class="shoreDouglasPartnership px-2 pb-5 pt-md-5 mt-md-3">
    <div class="container">
        {{> molecules-header-with-subheader }}
        {{> molecules-shore-solutions-container }}
    </div>
</div>