<div class="header py-2">
    <div class="container d-flex justify-content-between">
        <div>
            {{> atoms-logo }}
            {{> atoms-header-text(text: "BEAUTY BOOKING") }}
        </div>
        {{> atoms-header-text:-bold align-self-center(text: "+49 8941614330") }}
    </div>
</div>