<div class="contactFormContainer">
    <div class="row">
        <div class="col-md-4 pr-md-0">
            {{> molecules-kunden-gewinnen }}
        </div>
        <div class="col-md-8 pl-md-0">
            {{> molecules-contactForm-with-photo }}
        </div>
    </div>
</div>