<div class="kundenSuchen my-5">
    <div class="row">
        <div class="col-md-3 col-sm-0"></div>
        <div class="col-md-6 col-sm-12">
            <div class="shadow text-center py-5 px-5 bg-white">
                {{# kundenSuchen }}
                    {{> atoms-body-sub-heading }}
                    {{> molecules-kunden-suchen-form }}
                {{/ kundenSuchen }}
            </div>
        </div>
        <div class="col-md-3 col-sm-0"></div>
    </div>
</div>