<form class="form-inline kundenSuchen__form justify-content-between mt-4">
    <div class="form-group">
        {{> atoms-text-field:-noBorder }}
    </div>
    <div class="form-group">
        {{> atoms-submit-button:btn-secondary }}
    </div>


</form>